#navbar ul li {
  list-style: none;
  display: inline-block;
}

#navbar ul li a {
  text-decoration-line: none;
  color: azure;
  padding: 0 10px;
}

#home-nav {
  border-right: azure solid 2px;
}

#post-nav {
  border-right: azure solid 2px;
}
