#header h1 {
  text-align: center;
  justify-content: center;
  font-family: "Snell Roundhand", cursive;
}

#header h1 a {
  text-decoration-line: none;
  color: azure;
}

@media (min-width: 666px) {
  #header h1 {
    font-size: 70px;
    margin: 50px 0;
  }
}
